VITE_LISTMONK_FORM_URL="https://link.to.your/listmonk/form"
VITE_LISTMONK_LIST_ID="replace-with-your-listmonk_list_id"
VITE_HCAPTCHA_SITE_KEY="replace-with-your-hcaptcha-site-key"
VITE_PLAUSIBLE_SCRIPT_SRC="https://link.to.your/plausible/script.js"
